<h2><%= @post.title %></h2>
<%= @post.text %>

<h3>Hall of fame :: Recent Commenters</h3>
<ul>
<% @recent_commenters.each do |commenter| %>
  <li><%= commenter %> </li>
<% end %>
</ul>

<h3>All Comments</h3>
<% @comments.each do |comment| %>
  <%= render 'comments/comment' %>
<% end %>

<% if current_user %>
  <h3>Your Comment</h3>
  <%= render :partial => 'comments/new' %>
<% end %>

